<style>
.thisImage {
  border-radius: 15px;
}
.textFormat {
  font-size: 50px;
  font-style: normal;
}
#query-open-1, #query-open-2 {
  animation-duration: 1s;
  animation-delay: 1s;
}
#buttonNo, #buttonYes {
  border-radius: 0px;
}
.btnSlide {
  animation-duration: .8s;
  animation-delay: 1s;
}
.btn-outline-dark:hover {
  background-color: #81E3D3 !important;
}
</style>

<div id="query-1">
  <div class="row">
    <div class="col-2">
    </div>
      <div class="col-8 text-white textFormat text-dark">
        <p class="text-center animated fadeInDown" id="query-open-1">Did <strong><%= @sale_rep.first_name %> <%= @sale_rep.last_name %></strong> assist you today?</p>
      </div>
    <div class="col-2">
    </div>
  </div>
  <div class="row">
    <div class="col-3 ml-5">
    </div>
    <div class="col-m6 text-center ml-5">
      <div class="card border-0 animated fadeInUp" id="cardAnim" style="width: 18rem;">
        <img class="card-img-top thisImage" alt="Card image cap" src="<%= @sale_rep.photo_url %>" style="width: 400px;">
        <div class="card-body ml-5 btnSlide animated slideInDown">
        <%= link_to 'Back', first_stages_path, class: "btn btn-lg btn-outline-dark buttonNo ml-4" %>
        <%= link_to 'Next', show_rating_options_path(@sale_rep), class: "btn btn-lg btn-outline-dark buttonYes" %>
        </div>
      </div>
    </div>
  </div>
  <br><br>