<style>
.thisImage {
  border-radius: 15px;
  margin-left: -10px;  
  width: 300px; 
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.textFormat {
  font-size: 40px;
  font-style: normal;
  margin-left: -10px;
}
#query-open-1 {
  animation-duration: .8s;
  animation-delay: .8s;
  margin-left: 30px;
}
.btnSlideUp {
  animation-duration: .8s;
  animation-delay: 1s;
}
.btn-outline-dark:hover {
  background-color: #81E3D3 !important;
}
</style>

<br><br><br><br>
<div id="query-1">
  <div class="row">
    <div class="col-2">
    </div>
      <div class="col-8 text-white textFormat text-dark">
        <p class="text-center animated fadeInDown" id="query-open-1">Did <strong><%= @sale_rep.first_name %> <%= @sale_rep.last_name %></strong> assist you today?</p>
      </div>
    <div class="col-2">
    </div>
  </div>
  <div class="row">
    <div class="col-3 ml-5">
    </div>
    <div class="col-m6 text-center ml-5">
      <div class="card border-0 animated fadeInUp" id="cardAnim" style="width: 16rem;">
        <img class="card-img-top thisImage" alt="Card image cap" src="<%= @sale_rep.photo_url %>">
        <div class="card-body ml-5 btnSlideUp animated fadeInUp">
        <%= link_to 'No', first_stages_path, class: "btn btn-lg btn-outline-dark" %>
        <%= link_to 'Yes', show_rating_options_path(@sale_rep), class: "btn btn-lg btn-outline-dark" %>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br>